/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
}

header div {
  max-width: 1165px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 21px 0 21px;
  margin-bottom: 21px;
}
header div nav {
  width: 290px;
  margin-right: 29px;
}
header div nav ul {
  max-width: 290px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header div nav ul li {
  color: #818687;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header div img {
  border-radius: 50%;
}

.s-1 {
  margin-bottom: 36px;
}
.s-1 .container {
  max-width: 1165px;
  width: 95%;
  margin: 0 auto;
}
.s-1 h1 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
  display: block;
}
.s-1 .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.s-1 .cards .card {
  height: 357px;
  width: 362px;
  background-color: #FFF;
}
.s-1 .cards .card .photo {
  width: 100%;
  position: relative;
}
.s-1 .cards .card .photo img {
  width: 100%;
}
.s-1 .cards .card .photo h3 {
  position: absolute;
  left: 41px;
  top: 32px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-1 .cards .card p {
  color: #8A8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 238px;
  height: 36px;
  margin: 68px 0 0 37px;
}
.s-1 .cards .card h2 {
  color: #8A8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-1 .cards .card div.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 61px;
  margin: 11px 0 0 40px;
}

.s-2 {
  margin-bottom: 36px;
}
.s-2 .container {
  max-width: 1165px;
  width: 95%;
  margin: 0 auto;
}
.s-2 .container h1 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
  display: block;
}
.s-2 .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.s-2 .wrap .pw1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 902px;
}
.s-2 .wrap .pw1 .top {
  position: relative;
}
.s-2 .wrap .pw1 h5 {
  position: absolute;
  left: 41px;
  top: 32px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 203px;
  left: 278px;
}
.s-2 .wrap .pw2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 362px;
  height: 836px;
}

footer {
  background-color: #243043;
  padding: 59px 0 44px;
}
footer .container {
  max-width: 1165px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .container .du {
  width: 755px;
  display: flex;
  justify-content: space-between;
}
footer .container .du .list {
  height: 104px;
}
footer .container .du .list ul {
  vertical-align: top;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .container .du .list ul li {
  color: #818687;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .container .du h5 {
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: top;
}
footer img {
  width: 38px;
  height: 40px;
}/*# sourceMappingURL=global.css.map */